/* preset */


.align-middle {
    vertical-align: middle;
}

.margin-main {
    margin-left: 5%;
}

.margin-top {
    margin-top: 20px;
}

/* ----------------------------------------------------- */

header {
    padding: 10px 15px;
    background-color: white;
}

h1 {
    display: inline-block;
}

#logo {
    vertical-align: -15px;
}

/* ------------------------------------------------------- */

body {
    background-color: rgb(229, 229, 229);
}

/* -------------------------------------------------------- */

nav{
    background-color: white;
    margin-top: 5%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    border-radius: 3px;
}

#Button1{
    background-color: #46acf1;
    border-color: #46acf1;
    border-style: solid;;
    border-radius: 5px;
    padding: 4px 8px;
    color: white;
}

#Button2{
    background-color: white;
    border-color: #d7dadf;
    border-style: solid;
    border-radius: 5px;
    padding: 4px 8px;
    color: #d7dadf;
}

/* ---------------------------------------------------------- */

article{
    background-color: white;
    margin-top: 2px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    border-radius: 3px;
}

ul li {
    list-style-type: none;
}

.margin-list-item{
    margin-top: 10px;
}

.mainlist::before{
    content: " \25BC ";
    font-size: small;
}
/* ---------------------------------------------------------- */

.listcheck::before{
    content: " \2714 ";
    font-size: x-small;
    border: solid;
    border-radius: 100%;
    padding: 2px 4px;
    border-width: 1pt;
    color: rgb(35, 216, 135);
    vertical-align: 1px;
    margin-right: 5px;
}

.listcross::before{
    content: " \2716 ";
    font-size: x-small;
    border: solid;
    border-radius: 100%;
    padding: 2px 4px;
    border-width: 1pt;
    color: rgb(204, 18, 18);
    vertical-align: 1px;
    margin-right: 5px;
}





