/* preset */


.align-middle {
    vertical-align: middle;
}

.margin-main {
    margin-left: 5%;
}

.margin-top {
    margin-top: 20px;
}

body{
    font-family: 'Rubik', sans-serif;
}

/* ----------------------------------------------------- */

header {
    padding: 10px 15px;
    background-color: white;
}

h1 {
    display: inline-block;
}

#logo {
    vertical-align: -15px;
}

/* ------------------------------------------------------- */

body {
    background-color: rgb(229, 229, 229);
}

/* -------------------------------------------------------- */

nav{
    background-color: white;
    margin-top: 5%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    border-radius: 3px;
}

#Button1{
    background-color: #46acf1;
    border-color: #46acf1;
    border-style: solid;;
    border-radius: 5px;
    padding: 4px 8px;
    color: white;
}

#Button2{
    background-color: white;
    border-color: #d7dadf;
    border-style: solid;
    border-radius: 5px;
    padding: 4px 8px;
    color: #d7dadf;
}

/* ---------------------------------------------------------- */

article{
    background-color: white;
    margin-top: 2px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    border-radius: 3px;
}

ul li {
    list-style-type: none;
}

.margin-list-item{
    margin-top: 12px;
}

.mainlist::before{
    content: " \25BC ";
    font-size: small;
}

#all-list{
    margin-bottom: 5%;
}
/* ---------------------------------------------------------- */

/* CHECK E CROSS */

.listcheck::before{
    content: " \2714 ";
    font-size: xx-small;
    border: solid;
    border-radius: 100%;
    padding: 2px 4px;
    border-width: 2px;
    color: rgb(35, 216, 135);
    vertical-align: 1px;
    margin-right: 5px;
    font-weight: bold;
}

.listcross::before{
    content: " \2716 ";
    font-size: xx-small;
    border: solid;
    border-radius: 100%;
    padding: 2px 4px;
    border-width: 2px;
    color: rgb(204, 18, 18);
    vertical-align: 1px;
    margin-right: 5px;
    font-weight: bold;
}

/* TAG */
.tag-editorial::after{
    content: "Editorial";
    font-size: 10px;
    font-weight: bold ;
    background-color: #46acf1;
    color: white;
    padding: 6px 10px;
    border-radius: 12px;
    margin-left: 5px;
}

.tag-q1::after{
    content: "Q1 Goals";
    font-size: 10px;
    font-weight: bold ;
    background-color: #a561e9;
    color: white;
    padding: 6px 10px;
    border-radius: 12px;
    margin-left: 5px;
}

.tag-recruiting::after{
    content: "Recruiting";
    font-size: 10px;
    font-weight: bold ;
    background-color: #48be73;
    color: white;
    padding: 6px 10px;
    border-radius: 12px;
    margin-left: 5px;
}

.tag-mobile::after{
    content: "Mobile";
    font-size: 10px;
    font-weight: bold ;
    background-color: #ffa203;
    color: white;
    padding: 6px 10px;
    border-radius: 12px;
    margin-left: 5px;
}

.tag-website::after{
    content: "Website";
    font-size: 10px;
    font-weight: bold ;
    background-color: #e5477e;
    color: white;
    padding: 6px 10px;
    border-radius: 12px;
    margin-left: 5px;
}

.tag-sales::after{
    content: "Sales";
    font-size: 10px;
    font-weight: bold ;
    background-color: #44e604;
    color: white;
    padding: 6px 10px;
    border-radius: 12px;
    margin-left: 5px;
}

/* --------------------------------------------------------------- */
/* FONT */
#list1{
    font-size: 24px;
    color: rgb(70, 70, 70);
}

#list1 > ul{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}